html {
  font-family: sans-serif;
}

body {
  margin: 0;
}
main {
  display: flex;
  align-items: center;
  padding: 50px;
  justify-content: space-between;
  flex-direction: column;
  gap: 100px;
}
header {
  background: rgb(52, 206, 142);
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

button {
  margin: 50px;
  font-size: 20px;
  background-color: rgb(254, 128, 128);
}
/* ------------ Задание 1 и 2 ------------- */
.vibrating-button {
  padding: 20px 40px;
  font-size: 20px;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation: vibrate 0.1s infinite;
}
.vibrating-button:hover {
  animation: none;
  background-color: green;
}
@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* ------------ Задание 3 ------------- */
.link {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  color: black;
  transition: 0.4s ease-in-out;
  margin: 20px;
}
.link:hover {
  color: green;
}
.link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: green;
  transition: 0.4s ease-in-out;
}
.link:hover::after {
  width: 100%;
  left: 0;
}
/* ------------ Задание 4 ------------- */
.border {
  height: 200px;
  border-radius: 25px;
  background-color: #797979;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(255, 119, 0);
  animation: shrink 4s infinite;
}
#ball-container {
  width: 50px;
  height: 50px;
  animation: bounce 4s infinite;
}

@keyframes shrink {
  0% {
    transform: scaleY(1);
    animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.6);
  }
  15% {
    transform: scaleY(1);
    animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.6);
  }
  20% {
    transform: scaleY(0.7);
    animation-timing-function: cubic-bezier(0.6, 0.9, 0, 0.7);
  }
  25% {
    transform: scaleY(1);
    animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.6);
  }
  55% {
    transform: scaleY(1);
    animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.6);
  }
  60% {
    transform: scaleY(0.8);
    animation-timing-function: cubic-bezier(0.6, 0.9, 0, 0.7);
  }
  65% {
    transform: scaleY(1);
    animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.6);
  }
  90% {
    transform: scaleY(1);
    animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.6);
  }
  95% {
    transform: scaleY(0.9);
    animation-timing-function: cubic-bezier(0.6, 0.9, 0, 0.7);
  }
  100% {
    transform: scaleY(1);
    animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.6);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(-160px);
    animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.6);
  }
  20% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.6, 0.9, 0, 0.7);
  }
  40% {
    transform: translateY(-80px);
    animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.6);
  }
  60% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.6, 0.9, 0, 0.7);
  }
  80% {
    transform: translateY(-40px);
    animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.6);
  }
  95% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.6, 0.9, 0, 0.7);
  }
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.6, 0.9, 0, 0.7);
  }
}

/* ------------ Задание 4 ------------- */

.newton-container {
  position: relative;
}
.balls {
  position: relative;
  width: 200px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  margin: 0 auto;
}

.ball {
  width: 40px;
  height: 40px;
  background-color: #ce2566;
  border-radius: 50%;
}
.ball-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ball-container::before {
  content: '';
  width: 3px;
  background-color: black;
  height: 80px;
  display: block;
}

@keyframes left {
  0% {
    transform: translateX(0);
  }
  25% {
    transform-origin: 50% 0;
    transform: rotate(45deg);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes right {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform-origin: 50% 0;
    transform: rotate(-45deg);
  }
  100% {
    transform: translateX(0);
  }
}

.ball-container:first-child {
  animation: left 1s infinite ease-out;
}
.ball-container:nth-child(5) {
  animation: right 1s infinite ease-out;
}
